@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

@theme {
  --font-sans: "Inter", sans-serif;
  --color-background: #0f0f0f;
  --color-navBorder: #222222;
}

@layer base {
  body {
    background-color: var(--color-background);
    color: white;
    font-family: var(--font-sans);
    margin: 0;
    padding: 0;
  }
}
